<!DOCTYPE html>
<html class="no-js sr <%= @html_classes.try(:join, ' ') %>" lang="en">
  <head>
    <%= render 'layouts/shared_head' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/header' %>
    <main id="application-wrapper" class="application-wrapper">
      <%= render 'shared/notification' if @notification.present? %>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application', defer: true %>
  </body>
</html>
